@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section id="contact" class="section-wrap">
    <div class="container">
        <div class="shadow pull-right"><h4>@TempData["Message"]</h4></div>    
    <h3 class="asmthead fade-toggle">Contact</h3>
        
        <div class="row">
                <!-- Contact Detail and Social Media -->
                <div class="col-md-4 col-sm-4 contact-inner">
                    <address class="contact-wrap">
                        #1 Oakthorpe Ct<br>
                        Summerfield<br>
                        NC - 27358
                    </address>

                    <div class="contact-wrap">
                        <span>Email: <a href="mailto:hemamitra@gmail.com">hemamitra@gmail.com</a></span>
                        <span>Phone: +1 484-560-9928</span>
                    </div>


                    <ul class="list-unstyled list-inline social">
                        <li><a class="social-icon github-icon" href="https://github.com/hemamitra" target="_blank">
                        <i class="fa fa-github"></i>
                        </a></li>
                        <li><a class="social-icon linkedin-icon" href="https://www.linkedin.com/pub/hema-kolte/4/b79/6aa" target="_blank">
                            <i class="fa fa-linkedin"></i></a></li>
                    </ul>

                </div>

            
                <!-- Contact Form -->
            <form id="contact-form" class="col-md-8 col-sm-8 contact-form" action="@Url.Action("Contact") " method="post" data-parsley-errors-messages-disabled>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name" class="sr-only"></label>
                            <input id="name" name="name" class="form-control input-lg required" placeholder="Name" type="text">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email" class="sr-only"></label>
                            <input id="email" name="email" class="form-control input-lg required" placeholder="Email" type="email">
                        </div>
                    </div>
                </div><!-- .row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="subject" class="sr-only"></label>
                            <input id="subject" name="subject" class="form-control input-lg required" placeholder="Subject" type="text">
                        </div>
                    </div>
                 </div>

                    <div class="form-group">
                        <textarea name="message" class="form-control required" rows="9" placeholder="Message" align="center"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-danger">Send</button>
                    </div>
</form>
            @*<div class="shadow pull-right"><H3>@TempData["Message"]</h3></div> *@
</div><!-- .row -->
    </div><!-- container -->
    
</section>
<!-- CONTACT SECTION END -->