@model Portfolio.Models.BlogPost


@{
    ViewBag.Title = "Details";
}
<br /><br />
<h2>Details</h2>
<div>
    <table>
        <tr>
            <td>Title :</td>
            <td>@Model.Title</td>
        </tr>
        
        <tr>
            <td>Slug :</td>
            <td>@Model.Slug</td>
        </tr>
        <tr>
            <td>MediaURL :</td>
            <td>@Model.MediaURL</td>
        </tr>

        <tr>
            <td>Date Created :</td>
            <td>@Model.Created</td>
        </tr>

        <tr>
            <td>Date Updated :</td>
            <td>@Model.Updated</td>
        </tr>
    
        
    </table>
</div>



