@model Portfolio.Models.BlogPost
@{
    ViewBag.Title = "Edit";
}
<br><br>
<h3 class="asmthead fade-toggle">Edit Blog</h3>

<form action="@Url.Action("Edit")" method="post">
    Title : <input type="text" name="Title" value="@Model.Title"><br /><br />
    Slug : <input type="text" name="Slug" value="@Model.Slug"><br /><br />
    Body : <input type="text" name="Body" value="@Model.Body"><br /><br />
    URL : <input type="text" name="MediaURL" value="@Model.MediaURL"><br /><br />
    @*Comments : <input type="text" name="Comments"><br /><br />*@
    <input type="submit" name="Update Blog" class="btn btn-danger">
</form>

