@model IPagedList<Portfolio.Models.BlogPost>
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Blog Index";
}
@*<body class="blog-page blog-single">*@
<div id="main" class="blog-page blog-single">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <!-- BLOG POST -->
                <div class="blog">

                    @if(Model.Count >0 )
                {
                foreach (var item in Model)
                {
                    if (item.Published == true)
                    {
                        <article class="blog-post">
                            <h4 class="blog-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                            @if (item.MediaURL != null)
                            {   <img class="img-responsive blog-thumb" src="@item.MediaURL" alt="">}
                            <div class="blog-meta  blog-calfont">
                                <ul class="list-inline list-unstyled">
                                    <li><i class="fa fa-calendar colBlack"></i> @Html.DisplayFor(modelItem => item.Created.Date)</li>
                                    <li><i class="fa fa-comments colBlack"></i>@item.Comments.Count</li>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                                    }
                                </ul>
                            </div>

                            <div class="wrap1 colBlack blog-txtSize">
                                @Html.Raw(item.Body)
                            </div>
                            <a class="pull-right" href="@Url.Action("DetailsU",new {Slug = item.Slug})">
                                <i>continue reading &nbsp;<i class="fa fa-angle-double-right"></i></i>
                            </a>
                        </article>
                    }
                    else
                    {
                        <div class="col-md-12 col-xs-12">
                            <h3>Search returned 0 results</h3>
                        </div>
                    }
                    continue;
                }
                }
                else
                {
                        <div class="col-md-12 col-xs-12">
                            <h3>Search returned 0 results</h3>
                        </div>
                }
                </div>

                <!-- BLOG POST END -->
            </div><!--col-md-8 end-->

            <div class="col-md-4 col-sm-4">

                <!-- Search Form -->
                <div class="sidebar">
                    <div class="sidebar-wrap1">
                        <form action="@Url.Action("Index")" method="post" enctype="multipart/form-data" role="form" class="blog-search">
                            <input type="text" class="form-control" id="blog-search" name="query" placeholder="Search article...">
                        </form>
                    </div>
                </div>

                <!-- Category -->
                <div class="sidebar">
                    <div class="sidebar-wrap1">
                        <h3 class="sidebar-title shadow colRed1">Category</h3>
                        <ul class="fa-ul sidebar-list pull-right">
                            <li>
                                <i class="fa-fw fa-li fa fa-folder-open"></i>
                                <a href="@Url.Action("Index",new {Category = "MasterClass"})">
                                    Master Class
                                </a>
                            </li>
                            <li>
                                <i class="fa-fw fa-li fa fa-folder-open"></i>
                                <a href="@Url.Action("Index",new {Category = "General"})">
                                    General
                                </a>
                            </li>
                            <li>
                                <i class="fa-fw fa-li fa fa-folder-open"></i>
                                <a href="@Url.Action("Index")">
                                    All Posts
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- For LogIn and Register -->
                <div class="sidebar">
                    <div class="sidebar-wrap1 margin-top1">
                        <!--<h3 class="sidebar-title"></h3>-->
                        <!-- LogOff -->
                        @if (Request.IsAuthenticated)
                        {
                            <div class="pull-right col-sm-12">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "pull-right margin-top1" }))
                                {
                                    @Html.AntiForgeryToken()

                        <!--<ul class="nav navbar-nav navbar-right">-->
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null,
                                 htmlAttributes: new { title = "Manage", @class = "pull-right" })
                                    <br><br>
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger pull-right">
                                        Log off
                                    </a>


                                }
                            </div>
                        }
                        else
                        {
                            <div class="pull-right col-sm-12 margin-top1">
                                @Html.ActionLink("Register", "Register", "Account", routeValues: null,
                                        htmlAttributes: new { @class = "btn btn-danger pull-right" })

                                @Html.ActionLink("Log in", "Login", "Account", routeValues: null,
                                        htmlAttributes: new { @class = "btn btn-danger pull-right" })
                            </div>
                        }

                    </div>



                    @* Pagination *@


                    <div class="sidebar">
                         <div class="sidebar-wrap1">
                                    <!--<h3 class="sidebar-title"></h3>-->
                             <div class="col-sm-12 margin-top1">
                                 <div class="pull-right">
                                     @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                 </div>
                                     <br>
                                 @Html.PagedListPager(Model, page => Url.Action("Index", new
                                   {
                                       page = page,
                                       query = @ViewBag.query,
                                       category = @ViewBag.category
                                   }))
                             </div>
                         </div>
                    </div>

                            <!--<div class="sidebar">
                    <div class="sidebar-wrap1">
                        <div class="col-md-12 col-xs-12">
                            <h3 class="sidebar-title shadow colRed1">Twitter Widget</h3>
                            <div id="twitter-widget" class="twitter-widget" data-widget-id="347099293930377217" data-widget-length="3">
                            </div>
                        </div>
                    </div>-->



                        </div><!--col-md-4 end-->

                    </div> <!-- ROW -->
                    @*<div class="sidebar-wrap1">
                <h3 class="sidebar-title">Twitter Widget</h3>

                <div id="twitter-widget" class="twitter-widget" data-widget-id="347099293930377217" data-widget-length="3"></div>
            </div>*@


                </div>
</div> <!-- Row end -->
        </div><!-- Container end -->
@*</body>*@
@section scripts
{
                <script>
                    $(document).ready(function () {
                        $(".wrap1").dotdotdot({
                            /*	to add ... */
                            ellipsis: '... ',
                            /*	How to cut off the text/html: 'word'/'letter'/'children' */
                            wrap: 'word',
                            /*	Optionally set a max-height, if null, the height will be measured. */
                            height: 70
                        });
                    });
                </script>
            }




