@model IEnumerable<Portfolio.Models.BlogPost>

@{
    ViewBag.Title = "Blog Index";
}

<!-- SUBHEADER -->
<div class="subheader">
    <div class="container">
        <div class="row">

        <br><br><br>
            <div class="col-md-8 col-sm-8">

               @* <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Blog</li>
    </ol>*@

            </div>

            <div class="col-md-4 col-sm-4">

                <!-- Search Form -->
                <form class="blog-search">
                    <input type="text" class="form-control" id="blog-search" placeholder="Search article...">
                </form>

            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</div>
<!-- SUBHEADER END -->

<!-------------------------------------------------------------------->

<div id="main" class="container">
    <div class="row">
        <div class="col-md-7 col-xs-6">

            <!-- BLOG POST -->
            <div class="blog">
            @foreach (var item in Model) {

                <article class="blog-post">
                    <h2 class="blog-title shadow colRed"><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h2>

                    <img class="blog-thumb" src="@item.MediaURL" alt="">

                    <div class="blog-meta  blog-calfont">
                        <ul class="list-inline list-unstyled">
                            <li><i class="fa fa-calendar"></i> @Html.DisplayFor(modelItem => item.Created)</li>
                            <li><i class="fa fa-comments"></i> <a href="#">10</a></li>
                        </ul>
                    </div>
                    
                    <p>@Html.DisplayFor(modelItem => item.Body)

                    <a class="pull-right" href="#"><i>continue reading &nbsp;<i class="fa fa-angle-double-right"></i></i></a>
                </article>
            }
           <!-- Pagination -->
           <nav class="text-right">
           <ul class="pagination">
              <li>
                 <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                 </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li>
                 <a href="#" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                 </a>
              </li>
           </ul>
       </nav>

     </div>
            <!-- BLOG POST END -->

</div>

        <div class="col-md-5 col-xs-6">
            <div class="sidebar-wrap">
                    <h3 class="sidebar-title shadow colRed">Category</h3>

                    <ul class="fa-ul sidebar-list">
                        <li><i class="fa-fw fa-li fa fa-folder-open"></i><a href="#">Chat (10)</a></li>
                        <li><i class="fa-fw fa-li fa fa-folder-open"></i><a href="#">Web Development (5)</a></li>
                        <li><i class="fa-fw fa-li fa fa-folder-open"></i><a href="#">Work (21)</a></li>
                    </ul>
            </div>

                @*For LogIn and Register *@

            <div class="sidebar-wrap">
                <h3 class="sidebar-title shadow colRed">User</h3>

                <div class="col-md-12 col-sm-12">
                    <a class="btn btn-danger sidebar-btn" href="@Url.Action("Login", "Account")">Login</a>
                </div>
                <br />
                <div class="col-md-12 col-sm-12">
                    <a class="btn btn-danger sidebar-btn" href="@Url.Action("Register", "Account")">Register</a>
                </div>
            </div>

                @*<div class="sidebar-wrap">
                    <h3 class="sidebar-title">Twitter Widget</h3>

                    <div id="twitter-widget" class="twitter-widget" data-widget-id="347099293930377217" data-widget-length="3"></div>
                </div>*@

            </div>
            <!-- SIDEBAR END -->

        </div>
    </div><!-- .row -->
<!-- .container -->







