@model IEnumerable<Portfolio.Models.BlogPost>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Blog Index";
}
<br>
<h3 class="asmthead fade-toggle">Blogs</h3>
<!-- SUBHEADER -->
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Search Form -->
                <form class="blog-search">
                    <input type="text" class="form-control" id="blog-search" placeholder="Search article...">
                </form>
            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</div>
<!-- SUBHEADER END -->
<!-------------------------------------------------------------------->

<div id="main" class="container">
    <div class="row">
        <div class="col-md-7 col-xs-6">

            <!-- BLOG POST -->
            <div class="blog">
            @foreach (var item in Model) {
                if(item.Published == true)
                {    
                <article class="blog-post">
                    <h2 class="blog-title shadow colRed"><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h2>
                    @if (item.MediaURL != null)
                    {
                        <img class="img-responsive" src="@item.MediaURL" alt="">
                    }
                    
                    <!--<img class="blog-thumb" src="@item.MediaURL" alt="">-->

                    <div class="blog-meta  blog-calfont">
                        <ul class="list-inline list-unstyled">
                            <li><i class="fa fa-calendar colBlack"></i> @Html.DisplayFor(modelItem => item.Created)</li>
                            <li><i class="fa fa-comments colBlack"></i> <a href="#">@item.Comments.Count</a></li>
                            
                                @if(User.IsInRole("Admin"))
                                {
                                   <li> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                                   <li>@Html.ActionLink("Delete", "Delete", new { id=item.Id })</li>
                                    
                                }
                        </ul>
                    </div>
                    
                    <div class="wrap colBlack blog-txtSize">
                        @Html.Raw(item.Body)
                    </div>
                    <a class="pull-right" href="@Url.Action("DetailsU",new {Slug = item.Slug})">
                        <i>continue reading &nbsp;<i class="fa fa-angle-double-right"></i></i></a>
</article>
                }
                continue;
            }
           <!-- Pagination -->
           <nav class="text-right">
           <ul class="pagination">
              <li>
                 <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                 </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li>
                 <a href="#" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                 </a>
              </li>
           </ul>
       </nav>

     </div>
            <!-- BLOG POST END -->

</div>
        <div class="col-md-5 col-xs-6">
            <div class="sidebar-wrap">
                    <h3 class="sidebar-title shadow colRed">Category</h3>
                    <ul class="fa-ul sidebar-list">
                        <li><i class="fa-fw fa-li fa fa-folder-open"></i>
                            <a href="@Url.Action("Category",new {Category = "MasterClass"})">
                            Master Class
                        </a>
                        </li>
                        <li><i class="fa-fw fa-li fa fa-folder-open"></i>
                            <a href="@Url.Action("Category",new {Category = "General"})">
                                General
                            </a>
                        </li>
                    </ul>
            </div>

                @*For LogIn and Register *@

            <div class="sidebar-wrap">
                <h3 class="sidebar-title shadow colRed">User</h3>
           
                <!-- LogOff -->
                     
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                    
                        <!--<ul class="nav navbar-nav navbar-right">-->
                        <div class="col-md-12 col-xs-12 sidebar-btn">
                               @Html.ActionLink("Hello " + User.Identity.GetUserName() + " !", "Index", "Manage", routeValues: null, 
                                htmlAttributes: new { title = "Manage" })
                            
                        </div>
                    
                        <br><br>
                        <div class="col-md-12 col-xs-12 sidebar-btn">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger sidebar-btn">
                            Log off</a>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-12 col-xs-12">
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-danger sidebar-btn" })<br><br>
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-danger sidebar-btn" })
                    </div>

                }

            </div>

                @*<div class="sidebar-wrap">
                    <h3 class="sidebar-title">Twitter Widget</h3>

                    <div id="twitter-widget" class="twitter-widget" data-widget-id="347099293930377217" data-widget-length="3"></div>
                </div>*@

            </div>
            <!-- SIDEBAR END -->

        </div>
    </div><!-- .row -->
<!-- .container -->
@section scripts
{
    <script>
    $(document).ready(function() {
	    $(".wrap").dotdotdot({	
    	    /*	to add ... */
            ellipsis	: '... ',    
            /*	How to cut off the text/html: 'word'/'letter'/'children' */
		    wrap : 'word',
            /*	Optionally set a max-height, if null, the height will be measured. */
		    height	: 20
	    });
    });
    </script>
}




